<nav class="navbar navbar-expand-lg navbar-dark bg-primary navMain">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">FunEvents</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse flex-column" id="navbarNav">
            <ul class="navbar-nav w-50 p-0 m-0 justify-content-center">
                    <li class="nav-item flex-fill">
                        <a class="nav-link" asp-page="/startseite">Startseite</a>
                    </li>
                    <li class="nav-item flex-fill">
                        <a class="nav-link" asp-page="/About">About</a>
                    </li>
                    <li class="nav-item flex-fill">
                        <a class="nav-link" asp-page="/Contact">Contact</a>
                    </li>
                    <li class="nav-item flex-fill">
                        <a class="nav-link" asp-page="/Dashboard">Dashboard</a>
                    </li>
            </ul>
        </div>
    </div>
</nav>