@page "/bookings"
@using Data;
@using KundenWebSystem.Database.Model;
@inject BookingService bookingService;

<h3>Meine aktiven Buchungen</h3>
<div class="container-fluid">
    <table>
        <thead>
            <tr>
                <th scope="col">Eventbezeichnungen</th>
                <th scope="col">Eventbeginn</th>
                <th scope="col">Startort</th>
            </tr>
        </thead>
        <tbody>
            @foreach(BookingService.BookingDataSet buchung in this.userBookingList)
            {
                <tr>
                    <td>@buchung.EventsData.et_Bezeichnung</td>
                    <td>@buchung.EventDatenData.ed_Beginn.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@buchung.EventDatenData.ed_StartOrt</td>
                    <td><a href="/buchung/">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
@code {

    private static int USER_ID = 1;

    private List<BookingService.BookingDataSet> userBookingList = new List<BookingService.BookingDataSet>();

    protected override async Task OnInitializedAsync()
    {
        userBookingList = await bookingService.GetBuchungenForUserAsync(USER_ID);
    }



}
