@page "/about"
<h3>About</h3>
    <head>
        <title>
            Kontaktdaten der FunEvents GmbH
        </title>
    </head>
    <div>
        <container>
            <fluid>
                <address>
                    FunEvents GmbH <br />
                    Friedrich-Hansen-Strasse 8  <br />
                    97987 Obertulpensahm
                </address>
            </fluid>
        </container>
    </div>
@code {}
