@page "/about"
<h3>About</h3>
    <head>
        <title>
            Wichtiges über die FunEvents GmbH
        </title>
    </head>
    <div>
        <container>
            <fluid>
                <textarea>
                    Die FunEvents GmbH ist ein Unternehmen das Freizeitaktivitäten anbietet und dem Kunden mit dem unserem Buchungssystem die Auswahl der zu erlebenden Aktivität möglichst angenehm machen will!
                </textarea>
            </fluid>
        </container>
    </div>
@code {}
