@page "/register"
@using KundenWebSystem.Database.Model

<h1>Registrierung</h1>

<EditForm Model="@KundenModel" OnValidSubmit="Callback">
    <div class="row">
        <div class="col my-2">
            <label class="form-label">Vorname</label>
            <input class="form-control" id="firstname" @bind-value="KundenModel.kd_Vorname" required/>
        </div>
        <div class="col my-2">
            <label class="form-label">Nachname</label>
            <input class="form-control" id="lastname" @bind-value="KundenModel.kd_Name" required/>
        </div>
    </div>
    <div class="row">
        <div class="col my-2">
            <label class="form-label">Straße</label>
            <input class="form-control" id="street" @bind-value="KundenModel.kd_Strasse" required/>
        </div>
        <div class="col my-2">
            <label class="form-label">Hausnummer</label>
            <input class="form-control" id="hausnummer" @bind-value="KundenModel.kd_HNummer" required/>
        </div>
    </div>
    <div class="row">
        <div class="col my-2">
            <label class="form-label">Stadt</label>
            <input class="form-control" id="city" @bind-value="KundenModel.kd_Ort" required/>
        </div>
        <div class="col my-2">
            <label class="form-label">PLZ</label>
            <input class="form-control" id="postal_code" @bind-value="KundenModel.kd_PLZ" required/>
        </div>
    </div>
    <div class="col my-2">
        <label class="form-label">Email</label>
        <input class="form-control" id="email" @bind-value="KundenModel.kd_EMail" required/>
    </div>
    <div class="col my-2">
        <label class="form-label">Passwort</label>
        <input type="password" class="form-control" id="password" @bind-value="KundenModel.kd_PasswortHash" required/>
    </div>
    <div class="col my-2">
        <label class="form-label">Passwort Wiederholen</label>
        <input type="password" class="form-control" id="password-repeat" @bind-value="KundenModel.PasswortWiederholen" required/>
    </div>
    <div class="col mt-3">
        <button type="submit" class="btn btn-primary">Registrieren</button>
    </div>
</EditForm>

@code
{


    public tbl_Kunden KundenModel { get; set; } = new();

    // [BindProperty]
    // public RegisterModel RegisterModel { get; set; }


    /*
    public async Task<IActionResult> OnPostAsync()
    {





        if (!ModelState.IsValid)
        {
            return Page();
        }


        if (KdPasswort != WdPasswort)
        {
            ModelState.AddModelError("KdPasswort", "Die Passwörter stimmen nicht überein.");
            ModelState.AddModelError("WdPasswort", "Die Passwörter stimmen nicht überein.");
            return Page();
        }



        var kunde = new tbl_Kunden
        {
            kd_Vorname = KdVorname,
            kd_Name = KdNachname,
            kd_Strasse = KdStrasse,
            kd_HNummer = KdHausnummer,
            kd_PLZ = KdPlz,
            kd_Ort = KdStadt,
            kd_Telefon = KdTelefon,
            kd_EMail = KdEmail,
            kd_PasswortHash = KdPasswort,
        };

        _dbContext.tbl_Kunden.Add(kunde);
        await _dbContext.SaveChangesAsync();

        return RedirectToPage("/login");
    }
    */

    private void Callback()
    {
    }
}