@page "/Startseite"
@using KundenWebSystem.Database.Model
@using Microsoft.EntityFrameworkCore  
@inject KWSContext Context


<div class="container-fluid">
    <img src="/img/bike.jpg" class="img-fluid" alt="Fahrrad Startseite" style="width: 100%">
</div>



@code {

}