@page "/Startseite"
@using KundenWebSystem.Database.Model
@using Microsoft.EntityFrameworkCore  
@inject KWSContext Context


<div class="container-fluid">
    <img src="/img/bike.jpg" id="test" class="img-fluid" alt="Fahrrad Startseite" style="height: 600px;">
</div>



@code {

}